*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#581c87);
    min-height:100vh;
    color:white;
    padding:40px;
}

.contenedor{
    width:90%;
    max-width:1000px;
    margin:auto;
    background:rgba(255,255,255,0.10);
    padding:40px;
    border-radius:30px;
    box-shadow:0 25px 60px rgba(0,0,0,0.40);
    backdrop-filter:blur(12px);
    text-align:center;
}

h1{
    font-size:48px;
    margin-bottom:25px;
    color:#7dd3fc;
}

.texto{
    font-size:20px;
    margin-bottom:30px;
    color:#e0e7ff;
}

.menu{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.menu a,
.boton{
    display:inline-block;
    text-decoration:none;
    background:linear-gradient(135deg,#38bdf8,#8b5cf6);
    color:white;
    padding:15px 28px;
    border-radius:15px;
    font-weight:bold;
    margin-top:20px;
    transition:0.3s;
}

.menu a:hover,
.boton:hover{
    transform:translateY(-5px);
    background:linear-gradient(135deg,#8b5cf6,#ec4899);
}

.tarjeta{
    background:rgba(255,255,255,0.12);
    padding:30px;
    border-radius:25px;
    margin:25px 0;
    box-shadow:0 15px 35px rgba(0,0,0,0.30);
}

.tarjeta h2{
    color:#facc15;
    margin-bottom:15px;
}

.tarjeta p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:10px;
}

.resultado h3{
    font-size:32px;
    color:#22c55e;
    margin-top:10px;
}

.foto{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #38bdf8;
    margin-bottom:25px;
}

@media(max-width:700px){
    h1{
        font-size:34px;
    }

    .contenedor{
        padding:25px;
    }

    .menu{
        flex-direction:column;
    }
}